

.desc{
    /* position:absolute; */
    width:270px;
    /* top: 10px;
    left:15px; */
    font-size: 25px;
    font-weight: bolder;
    z-index: 0;
    
}
.thumbnail{
    width:300px;
    height : 350px;
    border-radius : 10px;
    /* z-index: 1; */
}
.thumbnail:hover{
    transform: scale(1.2);
    /* z-index: -1; */
    
}
.name{
    font-size: 30px;
    font-weight: 800;
    margin-top: -4px;
}
.bt, .bb {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.bottom{
    position: absolute;
    width:300px;
    bottom:6px
}
.card{
    width: 300px;
    height: 500px;
    border : 1px solid grey;
    margin : 10px;
    position :relative;
    border-radius: 10px;
}

.btn > button{
    background-color: rgba(6, 8, 161, 0.767);
    color : rgb(236, 208, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height : 30px;
    margin : 4px;
    border : 1px solid white;
    border-radius: 5px;

}
.btn > button:hover{
    color : rgba(6, 8, 161, 0.767);
    background-color: rgb(236, 208, 208) ;
    cursor: pointer;
}
.home{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}